.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    margin: 10px 10px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
      transition: transform 0.3s ease; // 확대 효과를 위한 전환 설정

      &:hover {
        transform: scale(1.25); // 마우스 오버시 5% 확대
      }
  }
  .optionField {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin-bottom: 10px;
    width: 100%;

    .fieldOptions{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 10px 10px;

      div {
        // Style for each item container
        display: flex;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 4px;
      }

      p {
        margin-right: 15px;
        white-space: nowrap;
      }
    }
  }
  .selectedItems{
    input[type="number"] {
      padding: 5px 5px;
      margin: 10px 10px;
      border-radius: 5px;
      border: 2px solid #000000;
    }
    input[type="checkbox"]:checked {
      background: #2248ef;
    }
  }
  .inputLine {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;

    input[type="text"] {
      padding: 5px 5px;
      margin: 10px 10px;
      border-radius: 5px;
      border: 2px solid #000000;
    }

    input[type="checkbox"] {
      margin: 10px 10px; // 체크박스의 마진 조정
      width: auto; // 체크박스의 너비를 자동으로 설정
      transform: scale(1.5); // 체크박스 크기를 1.5배로 확대
    }
  }
}