.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  flex-direction: column;
  
  .optionContainer{
    position: relative;
    width: 100%;

    select{
      padding: 3px 5px;
      margin: 5px 5px;
      border-radius: 3px solid #000000;
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      option {
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 3px 5px;
      }
    }
  }
  .chartContainer {
    width: 100%;
    position: relative;

    .canvas {
      width: 100%;
    }
  }
}