.container {
  display: flex;
}

.dataTable {
  display: flex;
  flex-direction: column;
  /* 요소들을 세로로 정렬 */
  align-items: center;
  /* 가로 축을 기준으로 중앙 정렬 */
  justify-content: center;
  /* 세로 축을 기준으로 중앙 정렬 (필요한 경우) */
  min-height: 100vh;
  /* 최소 높이를 뷰포트의 100%로 설정하여 전체 페이지를 채움 */
  text-align: left;
  /* 텍스트를 중앙 정렬 */
}
.pagination {
  display: flex;
}
.table{
  border: 1px solid #fff;
  border-radius: 5px;
}

.thead{
  margin-right: 5px;
  background-color: green;
  padding-right: 10px;
  .th {
    padding-right: 10px;
  }
 }

.tbody {
  padding-right: 10px;
  border: 1px solid #fff;
  .td {
    padding-right: 10px;
  }
}