.title {
  font-size: xx-large;
  color: #22aeff;
}

.navButton {
  display: flex;
  margin-top: 0.5rem;
  border: 0.5px;
  border-color: white;
  border-style: solid;
  justify-content: right;
  border: solid;
  border-radius: 5px;
  padding: 5%;
}

.navContainer {
  display: flex;
  justify-content: flex-end; /* 컨테이너를 우측 정렬하기 위해 */
  align-items: center; /* 아이템들을 세로 중앙에 위치시키기 위해 */
  padding: 0 10px; /* 좌우 패딩 */
}

.navContainer > div {
  display: flex;
  align-items: center; /* 자식 요소들도 세로 중앙 정렬 */
  margin-left: 20px; /* 요소들 사이의 간격 */
}

.navContainer > div:first-child {
  margin-left: 0; /* 첫 번째 요소는 왼쪽 마진 제거 */
}

.navContainer .title {
  font-size: 24px; /* 제목 폰트 사이즈 */
}

.navContainer button {
  padding: 5px 10px; /* 버튼 패딩 */
  cursor: pointer; /* 커서 포인터 스타일 */
}

.navContainer .welcome {
  display: flex;
  flex-direction: column; /* 내부 텍스트를 상하로 배열 */
  margin-right: 10px; /* 로그아웃 버튼과의 간격 */
}
